body{
  font-family: 'Open Sans', Helvetica, sans-serif;
  padding: 0;
  margin:0;
  background-color: #ffffff;
}
.container {
width: 1104px;
min-width: 400px;
margin: auto;
overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  top: 0;
  background: #ffffff;
  opacity: 0.6;
}

header img {
  display: inline-block;
  width: 85px;
  margin-left: 10vw;
  margin-top: 2vh;
}

header nav {
  vertical-align: middle;
  text-align: right;
  width: calc(100% - 85px);
  margin: 0;
}

header a{
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  color: #043a56;
  margin-left:10px;
  font-weight: normal;
}

header a:hover, a:active {
  color: #606060;
  transition:0.7s;
}

header select {
    -webkit-appearance: caret;
    -moz-appearance: caret;
    background-color: #ffffff;
    background-position: center right;
    background-repeat: no-repeat;
    color: #043a56;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    margin-left: 10px;
}

header select:hover{
  color: #606060;
  transition:0.7s;
}

#hero {
  height: 75vh;
  background:url('../img/Assets/2xhero-image.jpg') no-repeat center;
  background-size: cover;
  padding-top: 100px;
  text-align: left;
  color: #ffffff;
}

#hero h2{
  font-size: 46px;
  padding-top: 0;
  margin-top: 0;
  margin-left: 12vw;
}
#hero h3{
  font-size: 21px;
  font-weight: 100;
  margin-top:15vh;
  margin-left: 12vw;
  margin-bottom: 2vh;
}

#hero hr {
    display: block;
    height: 2px;
    width:99px;
    border: 0;
    margin-bottom: 0;
    border-top: 2px solid #ccc;
    margin-left: 12vw;
}

#boxes {
  margin: 0px auto;
}

#boxes img {
    height: 250px;
    width: auto;
    max-width: 500px;
    padding: 20px 10px 20px 10px;
    float: left;
    z-index: -1;
    display:inline-block;
}

#graph {
  min-width: 425px;
  background-color: #003957;
}

#graph h2 {
  font-size: 30px;
  color: white;
  padding-left: 5vw;
  padding-top: 10vh;
  opacity: 0.8
}

#graph img {
    height: 425px;
    width: auto;
    padding-bottom: 5vh;
    float: left;
    display:inline-block;
}

.button_1{
  height: 38px;
  background: #cccccc;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #353637;
}


footer{
  padding: 20px;
  margin-top: 20px;
  background:url('../img/Assets/footer-crowd.png') no-repeat center;
  text-align: center;
}



@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box {
    float: none;
    text-align: center;
    width: 100%;
  }
  header{
    padding-bottom: 20px;
  }
  #showcase h1{
    margin-top: 40px;
  }
  #newsletter button {
    display: block;
    width: 100%;
  }
  #newsletter form input[type="email"] {
    width: 100%;
    margin-bottom: 5px;
  }
}
