body{
  font-family: 'Open Sans', Helvetica, sans-serif;
  padding: 0;
  margin:0;
  background-color: #ffffff;
}
.container{
  width: 90%;
  min-width: 400px;
  margin: auto;
  overflow: hidden;
}
ul{
  margin: 0;
  padding: 0;
}



@import "compass/css3";

@import "compass";

$background: #ffffff;
$select-color: #043a56;
$select-background: #ffffff;
$select-width: 220px;
$select-height: 40px;

h1 {
  font-weight: normal;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  span {
    font-size: 13px;
    display: block;
    padding-left: 4px;
  }
}
p {
  margin-top: 200px;
  a {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: darken($select-background, 2);
    @include transition(all 0.2s ease-in);
    &:hover {
      background-color: darken($select-background, 5);
    }
  }
}
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: $select-color;
  width: $select-width;
  height: $select-height;
}
.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $select-background;
  padding: 8px 15px;
  @include transition(all 0.2s ease-in);
  &:after {
    content:"";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: $select-color transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
  }
  &:hover {
    background-color: darken($select-background, 2);
  }
  &:active, &.active {
    background-color: darken($select-background, 5);
    &:after {
      top: 9px;
      border-color: transparent transparent $select-color transparent;
    }
  }
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: darken($select-background, 5);
  li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid darken($select-background, 10);
    @include transition(all 0.15s ease-in);
    &:hover {
      color: $select-background;
      background: $select-color;
    }
    &[rel="hide"] {
      display: none;
    }
  }
}

header {
  height: 100px;
}

header img,
header nav {
  display: inline-block;
  vertical-align: middle;
}

header img {
  width: 85px;
  margin-left: 10vw;
  margin-top: 2vh;
}

header nav {
  text-align: right;
  width: calc(100% - 85px);
}

header a{
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  color: #043a56;
  margin-left:10px;
  font-weight: normal;
}

header a:hover, a:active {
  color: #606060;
  transition:0.7s;
}

header select {
    -webkit-appearance: caret;
    -moz-appearance: caret;
    background-color: #ffffff;
    background-position: center right;
    background-repeat: no-repeat;
    color: #043a56;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    margin-left: 10px;
}

header select:hover{
  color: #606060;
  transition:0.7s;
}

#hero {
  height: 75vh;
  background:url('../img/Assets/2xhero-image.jpg') no-repeat center;
  background-size: cover;
  text-align: left;
  color: #ffffff;
}

#hero h2{
  font-size: 46px;
  padding-top: 0;
  margin-top: 0;
  margin-left: 12vw;
}
#hero h3{
  font-size: 21px;
  font-weight: 100;
  margin-top:15vh;
  margin-left: 12vw;
  margin-bottom: 2vh;
}

#hero hr {
    display: block;
    height: 2px;
    width:99px;
    border: 0;
    margin-bottom: 0;
    border-top: 2px solid #ccc;
    margin-left: 12vw;
}

#boxes {
  margin: auto
  text-align:center;
}

#boxes img {
    height: 250px;
    width: auto;
    max-width: 500px;
    padding: 3vh 1vw 3vh 1vw;
    float: left;
    z-index: -1;
    display:inline-block;
}

#graph {
  min-width: 425px;
  background-color: #003957;
}

#graph h2 {
  font-size: 30px;
  color: white;
  padding-left: 5vw;
  padding-top: 10vh;
  opacity: 0.8
}

#graph img {
    height: 425px;
    width: auto;
    padding-bottom: 5vh;
    float: left;
    display:inline-block;
}

.button_1{
  height: 38px;
  background: #cccccc;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #353637;
}


footer{
  padding: 20px;
  margin-top: 20px;
  background:url('../img/Assets/footer-crowd.png') no-repeat center;
  text-align: center;
}



@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box {
    float: none;
    text-align: center;
    width: 100%;
  }
  header{
    padding-bottom: 20px;
  }
  #showcase h1{
    margin-top: 40px;
  }
  #newsletter button {
    display: block;
    width: 100%;
  }
  #newsletter form input[type="email"] {
    width: 100%;
    margin-bottom: 5px;
  }
}
